body {
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 20px 60px;
	font-weight: bolder;
	background: linear-gradient(-45deg, #ffe8e1, #ffe2c7, #c1efff, #a2e2ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a {
	text-decoration: none;
	color: black;
}

* {
	box-sizing: border-box;
}
